
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Helper functions
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    
    function isSignedIn() {
      return request.auth != null;
    }
    
    // Plugins are publically readable
    match /plugins/{pluginId} {
      allow read: if true;
      // TODO: Add write rule for vendors/admins
      allow write: if false; 
    }
    
    // Orders can be read/written by the user who owns them
    match /orders/{orderId} {
        allow read, write: if isOwner(resource.data.userId);
    }
    
    // License keys can only be read by the user who owns them
    // Creation is handled by a Cloud Function with admin privileges
    match /licenseKeys/{keyId} {
        allow read: if isOwner(resource.data.userId);
        allow create, update, delete: if false;
    }
  }
}
